* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 13px;
  border-radius: 10px;
  font-family: Inter;
  cursor: pointer;
}

.container {
  padding: 0 20px;
  margin: 0 auto;
  max-width: 1400px;
}

a {
  text-decoration-line: none;
}

@font-face {
  font-family: Inter;
  src: url(../font-family/Inter-Medium.ttf);
}

:root {
  scroll-behavior: smooth;
}

#backtop-icon {
  width: 50px;
  height: 50px;
}

.backtop {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 99;
  transition: all 0.5s;
  opacity: 0;
  &:hover {
    background: #30e266;
  }
}

.backtop.active {
  bottom: 20px;
  opacity: 1;
}

header {
  .header-about {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 999;
    background: #fff;

    .nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 20px;
      padding-top: 20px;
      .items-btn {
        max-width: 115px;
        width: 100%;
        background: #0071cc;
        color: #fff;
        outline: none;
        height: 40px;
        border: 2px soli #0071cc;
        font-size: 18px;
        border: none;
        border-radius: 12px;
      }

      .tarozi,
      .tulov,
      .kabinet,
      .yetkazib-berish,
      .savatcha,
      .sevimli-item {
        text-align: center;
        transition: 0.5s ease-in-out;
        &:hover {
          color: #008dff;
        }
      }
      #search {
        padding: 5px 10px;
        border-radius: 10px 0 0 10px;
        outline: none;
        border: 2px solid #0071cc;
        height: 40px;
        width: 385px;
      }
      #btn-submit {
        width: 85px;
        padding: 6px 12px;
        background: #0071cc;
        color: #fff;
        height: 40px;
        border-radius: 0 10px 10px 0;
        border: 2px solid #0071cc;
        outline: none;
        margin-left: -5px;
      }
      #tulov,
      #dastavka,
      #savatcha,
      #like,
      #kabinet,
      #sevimli-item {
        width: 20px;
        height: 20px;
      }
    }
    .more-nav-links {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 17px 0;
      box-shadow: 0 0 10px 10px soli red;
      .ramazon {
        display: flex;
        align-items: center;
        gap: 8px;
      }
      .ramazon img {
        width: 30px;
        height: 30px;
      }
    }
  }
}

main {
  background-color: #f4f7fd;
  padding-top: 200px;
  padding-bottom: 100px;
  h1 {
    font-size: 18px;
    padding-top: 20px;
    margin-bottom: 20px;
    color: #262626;
  }
  .products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;

    .product {
      max-width: 256px;
      height: auto;
      position: relative;
      padding: 15px;
      background-color: #fff;
      outline: 0;
      border-radius: 20px;
      height: 100%;
      -webkit-box-shadow: 0px 10px 30px rgba(209, 213, 223, 0.5);
      box-shadow: 0px 10px 30px rgba(209, 213, 223, 0.5);
      -webkit-transition: all 0.2s ease;
      transition: all 0.4s ease-in-out;
      &:hover {
        transform: scale(1.02);
      }
      .item-image img {
        width: 142px;
        height: 142px;
      }
      .item-text {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
      .xarid {
        display: flex;
        justify-content: space-between;
        .xarid-qilish {
          background: #008dff;
          width: 75%;
          transition: all 0.5s ease-in-out;
          &:hover {
            background: linear-gradient(to right, blue, red);
          }

          padding: 8px;
          cursor: pointer;
          color: #fff;
          outline: none;
          border: none;
        }
        p {
          background: #00bfaf;
          padding: 4px 16px;
          display: flex;
          align-items: center;
        }
        p img {
          width: 16px;
          height: 16px;
        }
      }
      .item-image {
        text-align: center;
      }
      .item-image {
        margin-bottom: 10px;
      }
      #baholash {
        width: 87px;
        margin-bottom: 8px;
      }
      .price-product {
        display: block;
        font-size: 18px;

        color: #008dff;
      }
      .btn-price {
        width: 100%;
        padding-top: 4px;
        padding-bottom: 4px;
        text-align: left;
        padding-left: 5px;
        border: 1px solid #fe7300;
        height: 30px;
        cursor: pointer;
        margin: 10px 0 20px;

        transition: 0.4s;
        &:hover {
          background-color: #fe720076;
          color: #fff;
        }
        a {
          color: #fe7300;
        }
      }
    }
    .more-product-about {
      display: flex;
      justify-content: space-between;
      position: absolute;
      top: 15px;
      left: 15px;
      right: 15px;
    }
    #new {
      background-color: red;
      color: #fff;
      font-size: 12px;
      display: flex;
      align-items: center;
      padding: 4px 10px;
    }
  }
}

// h2 {
//   background: #008dff;
// }
